pre code.language-python {
  font-size: 16px; /* Modifiez cette valeur pour ajuster la taille du texte */
  background-color: #272822;
  color: #F8F8F2;
  padding: 1em;
  border-radius: 4px;
}

pre code.language-python .hljs-keyword,
pre code.language-python .hljs-function {
  color: #F92672;
}

pre code.language-python .hljs-string {
  color: #E6DB74;
}

pre code.language-python .hljs-number {
  color: #AE81FF;
}

pre code.language-python .hljs-comment {
  color: #75715E;
}
