---
layout: page
title: Papa Séga WADE
subtitle: Optimum Data Science Learn  - AI--ML--DL-
bigimg: img/deeplearningjif.gif
use-site-title: true
---

<!-- Ajout de la section Catégories -->
<div class="categories">
  <div class="category-card">
    <a href="/machine-learning">
      <img src="/img/reg_ml_gif.gif" alt="Machine Learning">
      <h3>Machine Learning</h3>
    </a>
  </div>
  <div class="category-card">
    <a href="/deep-learning">
      <img src="/img/human-brain_dp.gif" alt="Deep Learning">
      <h3>Deep Learning</h3>
    </a>
  </div>
  <div class="category-card">
    <a href="/nlp">
      <img src="/img/nlp.gif" alt="NLP">
      <h3>NLP</h3>
    </a>
  </div>
  <div class="category-card">
    <a href="/rappel-mathematiques">
      <img src="/img/maths_ia.gif" alt="Rappel Mathématiques">
      <h3>Rappel Mathématiques</h3>
    </a>
  </div>
</div>
<!-- Fin de la section Catégories -->

<div class="posts-list">
  {% for post in paginator.posts %}
  {% if post.categories.size == 0 %}
    <article class="post-preview">
      <a href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% endif %}
      </a>

      <p class="post-meta">
        Publiée le {{ post.date | date: "%-d %B %Y" }}
      </p>

      <div class="post-entry-container">
        {% if post.image %}
        <div class="post-image">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image | relative_url }}">
          </a>
        </div>
        {% endif %}
        <div class="post-entry">
          {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %}
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
            <a href="{{ post.url | relative_url }}" class="post-read-more">[Lire&nbsp;plus]</a>
          {% endif %}
        </div>
      </div>

      {% if post.tags.size > 0 %}
      <div class="blog-tags">
        Catégories:
        {% if site.link-tags %}
        {% for tag in post.tags %}
        <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
        {% else %}
          {{ post.tags | join: ", " }}
        {% endif %}
      </div>
      {% endif %}

    </article>
  {% endif %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Plus récentes</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Plus anciennes &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
